
[*]

# ReSharper properties
resharper_blank_lines_around_single_line_auto_property = 0
resharper_blank_lines_around_single_line_field = 0
resharper_int_align_fields = true
resharper_place_expr_property_on_single_line = true
